@using Inventory_Management_Software.Pages.Dialogs


<h3>AddProductDialog</h3>

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6"></MudText>
    </TitleContent>
</MudDialog>

@code {
    
}